@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

$font_OpenSans: "Open Sans";
$font_Tinos: "Tinos";
$font_Cookie: "Cookie";
$color_orange900: #FF7400;
$color_orange800: #D67E34;
$color_orange700: #BC9060;
$color_gray600: #656363;
$color_gray50: #E5E5E5;
$color_black500: #2C2C2C;
$color_black: #000;
$color_white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;

    .main_section {
        width: 100%;
        padding-top: 50px;
        position: relative;

        header {
            width: 100%;
            max-width: 1110px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .header_logo {
                width: 100px;
                height: 67.96px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            nav {
                width: 100%;
                max-width: 742px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;

                .header_nav_menu {
                    width: 100%;
                    max-width: 277px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 12px;

                    a {
                        font-family: $font_OpenSans;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 19.07px;
                        color: $color_white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .header_nav_contact {
                    width: 100%;
                    max-width: 227px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 30px;

                    .header_nav_contact_btn {
                        width: 13px;
                        height: 13px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        margin-right: 6px;
                    }

                    .header_nav_contact_text {
                        position: relative;
                        padding-left: 16px;

                        &:before {
                            content: "";
                            width: 0.5px;
                            height: 51px;
                            background-color: white;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            left: -15px;
                        }

                        h2 {
                            display: flex;
                            gap: 8px;
                            align-items: center;
                            font-family: $font_OpenSans;
                            font-size: 18px;
                            line-height: 24.51px;
                            font-weight: 700;
                            color: $color_white;
                            cursor: pointer;

                            span {
                                width: 23px;
                                height: 23px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        p {
                            margin-top: 2px;
                            font-family: $font_OpenSans;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 19.07px;
                            color: $color_white;
                            cursor: pointer;

                        }
                    }
                }

                button {
                    width: 100%;
                    max-width: 157px;
                    background-color: $color_orange900;
                    color: $color_white;
                    font-family: $font_OpenSans;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 19.07px;
                    padding: 14px 0;
                    border: 1px solid $color_orange900;
                    transition: all .4s;
                    cursor: pointer;

                    &:hover {
                        background-color: $color_white;
                        color: $color_orange900;
                    }
                }
            }

            .header_menu {
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;

                .header_menu_icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30.88px;
                    height: 17.75px;

                    &:hover+.header_menu_content {
                        display: flex;
                    }
                }

                .header_menu_content {
                    position: fixed;
                    top: 100px;
                    left: 0;
                    background-color: $color_white;
                    width: 100%;
                    height: 100vh;
                    overflow-y: scroll;
                    z-index: 99;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: all 0.4s;
                    display: none;

                    .header_nav_menu {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 32px;

                        a {
                            font-family: $font_OpenSans;
                            font-size: 34px;
                            font-weight: 700;
                            line-height: 19.07px;
                            color: $color_black;
                            text-decoration: underline $color_orange900;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .header_nav_contact {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 30px;
                        margin-top: 40px;

                        h2 {
                            display: flex;
                            gap: 8px;
                            align-items: center;
                            justify-content: center;
                            font-family: $font_OpenSans;
                            font-size: 38px;
                            line-height: 24.51px;
                            font-weight: 700;
                            color: $color_black;
                            cursor: pointer;
                            text-align: center;
                        }

                        p {
                            font-family: $font_OpenSans;
                            font-size: 34px;
                            font-weight: 400;
                            line-height: 68.07px;
                            color: $color_black;
                            cursor: pointer;
                            text-align: center;

                        }
                    }

                    button {
                        margin: 50px auto;
                        width: 100%;
                        max-width: 157px;
                        background-color: $color_orange900;
                        color: $color_white;
                        font-family: $font_OpenSans;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 19.07px;
                        padding: 14px 0;
                        border: 1px solid $color_orange900;
                        transition: all .4s;
                        cursor: pointer;

                        &:hover {
                            background-color: $color_white;
                            color: $color_orange900;
                        }
                    }
                }
            }
        }

        .main_section_image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 800px;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hero_section {
            width: 100%;
            max-width: 1110px;
            margin: auto;
            display: flex;
            padding-top: 203px;

            .hero_section_text {
                width: 100%;
                max-width: 506px;

                h2 {
                    font-family: $font_Tinos;
                    font-size: 50px;
                    font-weight: 400;
                    line-height: 57.5px;
                    color: $color_orange800;
                    text-align: center;
                }

                h1 {
                    font-family: $font_Tinos;
                    font-size: 80px;
                    font-weight: 400;
                    line-height: 91.99px;
                    color: $color_orange800;
                    text-align: center;
                }

                h5 {
                    max-width: 307px;
                    margin: auto;
                    text-align: center;
                    font-family: $font_OpenSans;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.51px;
                    color: $color_white;
                    position: relative;
                    margin-top: 12px;

                    &::before {
                        content: "";
                        width: 61px;
                        height: 2px;
                        background-color: #C4C4C4;
                        position: absolute;
                        left: 0;
                        top: 50%;
                    }

                    &::after {
                        content: "";
                        width: 61px;
                        height: 2px;
                        background-color: #C4C4C4;
                        position: absolute;
                        right: 0;
                        top: 50%;
                    }
                }

                button {
                    display: block;
                    width: 100%;
                    max-width: 137px;
                    padding: 14px 0;
                    background-color: $color_orange900;
                    color: $color_white;
                    font-family: $font_OpenSans;
                    font-size: 14px;
                    line-height: 19.07px;
                    font-weight: 700;
                    margin: auto;
                    margin-top: 21px;
                    border: 1px solid $color_orange900;
                    transition: all .4s;
                    cursor: pointer;

                    &:hover {
                        background-color: $color_white;
                        color: $color_orange900;
                    }
                }
            }
        }
    }

    .section_category {
        width: 100%;
        max-width: 1110px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 31px;
        margin-top: 124px;

        .section_category_item {
            background-color: $color_white;
            box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 10%);
            padding: 48px 30px 0;
            width: 100%;
            max-width: 349px;
            height: 328px;


            .section_category_item_icon {
                width: 87px;
                height: 87px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
            }

            h1 {
                font-family: $font_Tinos;
                font-size: 26px;
                font-weight: 400;
                line-height: 29.9px;
                color: $color_black500;
                text-align: center;

                span {
                    color: $color_orange700;
                }
            }

            p {
                margin-top: 20px;
                font-family: $font_Tinos;
                font-size: 26px;
                font-weight: 400;
                line-height: 29.9px;
                color: $color_gray600;
                text-align: center;
            }
        }
    }

    .section_history {
        width: 100%;
        max-width: 1110px;
        margin: auto;
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .section_history_text {
            width: 100%;
            max-width: 444px;
            margin-top: 16px;

            h1 {
                font-family: $font_Tinos;
                font-size: 54px;
                font-weight: 400;
                line-height: 62.09px;
                color: $color_black;
                text-align: center;

                span {
                    color: $color_orange800;
                }
            }

            p {
                margin-top: 21px;
                font-family: $font_OpenSans;
                font-size: 16px;
                line-height: 21.79px;
                font-weight: 400;
                color: $color_gray600;
                text-align: center;
            }

            .section_history_text_option {
                width: 100%;
                max-width: 300px;
                margin: auto;
                margin-top: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;

                .section_history_text_option_item {
                    h3 {
                        font-family: $font_OpenSans;
                        font-size: 40px;
                        font-weight: 400;
                        line-height: 54.47px;
                        color: $color_orange700;
                        text-align: center;
                    }

                    p {
                        font-family: $font_OpenSans;
                        font-size: 20px;
                        line-height: 27.24px;
                        font-weight: 400;
                        color: $color_black;
                        margin-top: 2px;
                        text-align: center;
                    }
                }
            }
        }

        .section_history_image {
            width: 100%;
            max-width: 539px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .section_4 {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 122px;
        padding: 80px 0 104px 0;
        background: url("../image/order.png") no-repeat;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 85%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .section_4_inlineBox {
            width: 100%;
            max-width: 1110px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 2;

            .section_4_text {
                h1 {
                    font-family: $font_Tinos;
                    font-size: 52px;
                    line-height: 59.79px;
                    font-weight: 400;
                    color: $color_orange800;
                    max-width: 601px;
                }

                p {
                    font-family: $font_OpenSans;
                    font-size: 24px;
                    line-height: 32.68px;
                    font-weight: 700;
                    color: $color_white;
                    margin-top: 20px;
                }
            }

            button {
                width: 100%;
                max-width: 157px;
                border: 1px solid $color_orange900;
                background-color: $color_orange900;
                padding: 14px 0;
                font-family: $font_OpenSans;
                font-size: 14px;
                font-weight: 700;
                line-height: 19.07px;
                color: $color_white;
                transition: all 0.4s;
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    color: $color_orange900;
                }
            }
        }
    }

    .section_ourFood {
        width: 100%;
        max-width: 1129px;
        margin: auto;
        margin-top: 132px;

        h1 {
            font-family: $font_Tinos;
            font-size: 54px;
            line-height: 62.09px;
            font-weight: 400;
            color: $color_black;
            text-align: center;

            span {
                color: $color_orange800;
            }
        }

        .section_ourFood_row {
            margin-top: 139px;
            display: flex;
            gap: 30px;

            .section_ourFood_row_col {
                width: 100%;

                &:first-of-type {
                    max-width: 445px;

                    img {
                        width: 100%;
                    }
                }

                &:last-of-type {
                    max-width: 654px;
                    display: flex;
                    flex-direction: column;
                    gap: 29px;

                    .section_ourFood_row_col_item {
                        display: flex;
                        gap: 30px;
                        align-items: center;

                        .section_ourFood_row_col_item_img {
                            width: 100%;
                            max-width: 160px;
                            height: 140px;

                            img {
                                width: 100%;
                            }
                        }

                        .section_ourFood_row_col_item_text {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            h4 {
                                font-family: $font_Tinos;
                                font-size: 26px;
                                line-height: 29.09px;
                                font-weight: 400;
                                color: $color_black;
                            }

                            h5 {
                                font-family: $font_Tinos;
                                font-size: 26px;
                                line-height: 29.09px;
                                font-weight: 400;
                                color: $color_black;
                                white-space: pre;
                            }

                            span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                max-width: 204px;
                                border: dashed 1px $color_black;
                            }
                        }
                    }
                }
            }
        }
    }

    .section_ourMenu {
        width: 100%;
        max-width: 1440px;
        margin: auto;
        padding: 100px 0 126px 0;
        background: url("../image/bar.png") no-repeat;
        margin-top: 152px;

        h1 {
            font-family: $font_Tinos;
            font-size: 54px;
            line-height: 62.09px;
            font-weight: 400;
            color: $color_white;
            text-align: center;
        }

        .section_ourMenu_row {
            margin: auto;
            margin-top: 138px;
            display: flex;
            gap: 30px;
            width: 100%;
            max-width: 1110px;
            overflow-x: auto;
            padding-bottom: 106px;
            scroll-snap-type: x mandatory;


            .section_ourMenu_row_col {
                width: 100%;
                max-width: 350px;
                position: relative;
                background-color: $color_white;
                padding: 80px 60px 29px 62px;
                scroll-snap-align: center;

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    max-width: 124px;
                    background-color: $color_orange800;
                    color: $color_black;
                    padding: 7px;
                    text-align: center;
                    font-family: $font_OpenSans;
                    font-size: 13px;
                    line-height: 17.7px;
                    font-weight: 400;
                }

                .section_ourMenu_row_col_imgBox {
                    position: relative;

                    .section_ourMenu_row_col_imgBox_img {
                        width: 223px;
                        height: 231px;

                        img {
                            width: 100%;
                            border-radius: 50%;
                        }
                    }

                    .section_ourMenu_row_col_imgBox_text {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 7px solid $color_white;
                        background-color: $color_orange800;
                        font-family: $font_Cookie;
                        font-size: 30px;
                        line-height: 33.27px;
                        font-weight: 400;
                        color: $color_white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                h1 {
                    margin-top: 22px;
                    font-family: $font_Tinos;
                    font-size: 26px;
                    line-height: 29.9px;
                    font-weight: 400;
                    color: $color_black;
                }

                p {
                    margin-top: 17px;
                    font-family: $font_OpenSans;
                    font-size: 16px;
                    line-height: 21.79px;
                    font-weight: 400;
                    color: $color_black;
                    text-align: center;
                }

                button {
                    width: 100%;
                    max-width: 220px;
                    margin: auto;
                    margin-top: 20px;
                    background-color: $color_orange800;
                    font-family: $font_OpenSans;
                    font-size: 16px;
                    line-height: 21.79px;
                    font-weight: 700;
                    color: $color_white;
                    border: 1px solid $color_orange800;
                    padding: 14px 0;
                    cursor: pointer;
                    transition: all .4s;
                    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 25%);

                    &:hover {
                        background-color: $color_white;
                        color: $color_orange800;
                    }
                }
            }
        }
    }

    .section_testimonial {
        width: 100%;
        max-width: 1440px;
        margin: auto;
        background-color: $color_gray50;
        padding: 104px 0;

        p {
            font-family: $font_OpenSans;
            font-size: 20px;
            font-weight: 400;
            line-height: 27.24px;
            color: $color_black;
            max-width: 920px;
            text-align: center;
            margin: auto;
            font-style: italic;
        }

        .section_testimonial_img {
            width: 100px;
            height: 100px;
            margin: auto;
            margin-top: 20px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        h3 {
            font-family: $font_OpenSans;
            font-size: 20px;
            line-height: 27.24px;
            font-weight: 600;
            color: $color_black;
            margin-top: 16px;
            text-align: center;
        }

        h5 {
            margin-top: 9px;
            text-align: center;
            font-family: $font_OpenSans;
            font-size: 20px;
            font-weight: 400;
            color: $color_black;
        }

        .section_testimonial_dots {
            width: 100%;
            max-width: 21px;
            margin: auto;
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2px;

            .section_testimonial_dots_item {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #C4C4C4;

                &:last-of-type {
                    width: 7px;
                    height: 7px;
                    border: 1px solid $color_orange900;
                    background-color: transparent;
                }
            }
        }
    }

    .section_foodImg {
        width: 100%;
        max-width: 1440px;
        margin: auto;
        margin-top: 101px;

        h1 {
            text-align: center;
            font-family: $font_Tinos;
            font-size: 54px;
            line-height: 62.9px;
            font-weight: 400;
            color: $color_black;

            span {
                color: $color_orange800;
            }
        }

        .section_foodImg_row {
            width: 100%;
            max-width: 1110px;
            margin: auto;
            margin-top: 60px;
            display: grid;
            gap: 30px;
            grid-template-areas:
                "item1 item1 item2 item3"
                "item4 item5 item6 item6";

            .section_foodImg_row_col {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:nth-of-type(1) {
                    grid-area: item1;
                }

                &:nth-of-type(2) {
                    grid-area: item2;
                }

                &:nth-of-type(3) {
                    grid-area: item3;
                }

                &:nth-of-type(4) {
                    grid-area: item4;
                }

                &:nth-of-type(5) {
                    grid-area: item5;
                }

                &:nth-of-type(6) {
                    grid-area: item6;
                }
            }
        }
    }

    .section_chefs {
        width: 100%;
        max-width: 1440px;
        margin: auto;
        margin-top: 100px;

        h1 {
            text-align: center;
            font-family: $font_Tinos;
            font-size: 54px;
            line-height: 62.9px;
            font-weight: 400;
            color: $color_black;

            span {
                color: $color_orange800;
            }
        }

        .section_chefs_row {
            width: 100%;
            max-width: 1110px;
            margin: auto;
            margin-top: 107px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .section_chefs_row_col {
                width: 350px;
                height: 462px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .section_footer {
        width: 100%;
        max-width: 1440px;
        margin: auto;
        margin-top: 100px;
        height: 566px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    @media screen and (max-width:1110px) {
        .main_section {
            padding: 0 15px;
            padding-top: 50px;
        }

        .section_category {
            padding: 0 15px;
        }

        .section_history {
            padding: 0 15px;
        }

        .section_4 {
            padding: 80px 15px 104px 15px;
        }

        .section_ourFood {
            padding: 0 15px;
        }

        .section_ourMenu {
            padding: 100px 15px 126px 15px;

        }

        .section_testimonial {
            padding: 104px 15px;
        }

        .section_foodImg {
            padding: 0 15px;
        }

        .section_chefs {
            padding: 0 15px;
        }
    }

    @media screen and (max-width:1072px) {
        .section_category {
            .section_category_item {
                height: auto;
                min-height: 328px;
                padding: 33.35px 13px 16px;

                p {
                    font-size: 22px;
                }
            }
        }
    }

    @media screen and (max-width:840px) {
        .main_section {
            padding-top: 26px;

            header {
                .header_menu {
                    display: flex;
                }

                nav {
                    display: none;
                }
            }

        }

        .section_category {
            flex-wrap: wrap;
        }

        .section_4 {
            padding: 20px 15px 30px 15px;

            .section_4_inlineBox {
                flex-direction: column;
                align-items: center;
                gap: 41px;

                .section_4_text {
                    text-align: center;
                }
            }
        }

        .section_ourFood {
            .section_ourFood_row {
                flex-direction: column;
                align-items: center;

                .section_ourFood_row_col {
                    &:first-of-type {
                        max-width: 530px;
                    }
                }
            }
        }
    }

    @media screen and (max-width:764px) {
        .main_section {
            header {
                .header_logo {
                    width: 45px;
                    height: 31px;
                }
            }

            .hero_section {
                .hero_section_text {
                    margin: auto;
                }
            }
        }

        .section_category {
            justify-content: center;

            .section_category_item {
                max-width: 500px;
                min-height: 276px;

            }
        }

        .section_foodImg {
            h1 {
                font-size: 40px;
                line-height: 46px;
            }

            .section_foodImg_row {
                grid-template-areas:
                    "item1 item1"
                    "item2 item3"
                    "item6 item6"
                    "item4 item5";
            }
        }

        .section_chefs {
            margin-top: 71px;

            h1 {
                font-size: 40px;
                line-height: 46px;
            }

            .section_chefs_row {
                margin-top: 80px;

                .section_chefs_row_col {
                    width: 100%;
                    max-width: 480px;
                    height: 450px;
                }
            }
        }
    }

    @media screen and (max-width:726px) {
        .section_history {
            flex-direction: column;
            align-items: center;

            .section_history_image {
                margin-top: 45px;
            }
        }
    }

    @media screen and (max-width:636px) {

        .section_4 {
            margin-top: 50px;

            .section_4_inlineBox {
                .section_4_text {
                    h1 {
                        font-size: 30px;
                        line-height: 34.5px;
                    }

                    p {
                        font-size: 24px;
                    }
                }

                button {
                    max-width: 139px;
                    padding: 12px 0;
                }
            }
        }
    }

    @media screen and (max-width:515px) {
        .main_section {
            .hero_section {
                .hero_section_text {
                    h2 {
                        font-size: 30px;
                        line-height: 34.5px;
                    }

                    h1 {
                        font-size: 40px;
                        line-height: 46px;
                    }

                    h5 {
                        font-size: 15px;
                        line-height: 20.43px;
                    }
                }
            }
        }

        .section_history {
            margin-top: 75px;
        }
    }

    @media screen and (max-width:450px) {
        .section_ourFood {
            margin-top: 63px;

            .section_ourFood_row {
                margin-top: 72px;

                .section_ourFood_row_col {
                    &:last-of-type {
                        .section_ourFood_row_col_item {
                            gap: 8px;

                            .section_ourFood_row_col_item_text {
                                flex-direction: column;
                                align-items: center;

                                span {
                                    display: none;
                                }

                                h4 {
                                    font-size: 22px;
                                    line-height: 25.3px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section_foodImg {
            .section_foodImg_row {
                gap: 20px;
                grid-template-areas:
                    "item1"
                    "item2"
                    "item3"
                    "item6"
                    "item4"
                    "item5";
            }
        }

        .section_footer {
            margin-top: 21px;
        }
    }

    @media screen and (max-width:380px) {
        .section_ourMenu {
            padding: 62px 15px 0 15px;

            .section_ourMenu_row {
                margin-top: 98px;

                .section_ourMenu_row_col {
                    max-width: 290px;
                    padding: 80px 35px 29px 35px;
                }
            }
        }

        .section_testimonial {
            padding: 25px 15px;
        }
    }
}