@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font_OpenSans: "Open Sans";
$font_Tinos: "Tinos";
$color_orange900: #FF7400;
$color_orange800: #D67E34;
$color_orange700: #BC9060;
$color_gray600: #656363;
$color_gray50: #E5E5E5;
$color_black500: #2C2C2C;
$color_black: #000;
$color_white: #fff;