@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.container .main_section {
  width: 100%;
  padding-top: 50px;
  position: relative;
}
.container .main_section header {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.container .main_section header .header_logo {
  width: 100px;
  height: 67.96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main_section header nav {
  width: 100%;
  max-width: 742px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.container .main_section header nav .header_nav_menu {
  width: 100%;
  max-width: 277px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.container .main_section header nav .header_nav_menu a {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  color: #fff;
  text-decoration: none;
}
.container .main_section header nav .header_nav_menu a:hover {
  text-decoration: underline;
}
.container .main_section header nav .header_nav_contact {
  width: 100%;
  max-width: 227px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.container .main_section header nav .header_nav_contact .header_nav_contact_btn {
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 6px;
}
.container .main_section header nav .header_nav_contact .header_nav_contact_text {
  position: relative;
  padding-left: 16px;
}
.container .main_section header nav .header_nav_contact .header_nav_contact_text:before {
  content: "";
  width: 0.5px;
  height: 51px;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -15px;
}
.container .main_section header nav .header_nav_contact .header_nav_contact_text h2 {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.container .main_section header nav .header_nav_contact .header_nav_contact_text h2 span {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main_section header nav .header_nav_contact .header_nav_contact_text p {
  margin-top: 2px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  color: #fff;
  cursor: pointer;
}
.container .main_section header nav button {
  width: 100%;
  max-width: 157px;
  background-color: #FF7400;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  padding: 14px 0;
  border: 1px solid #FF7400;
  transition: all 0.4s;
  cursor: pointer;
}
.container .main_section header nav button:hover {
  background-color: #fff;
  color: #FF7400;
}
.container .main_section header .header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.container .main_section header .header_menu .header_menu_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30.88px;
  height: 17.75px;
}
.container .main_section header .header_menu .header_menu_icon:hover + .header_menu_content {
  display: flex;
}
.container .main_section header .header_menu .header_menu_content {
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s;
  display: none;
}
.container .main_section header .header_menu .header_menu_content .header_nav_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.container .main_section header .header_menu .header_menu_content .header_nav_menu a {
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 700;
  line-height: 19.07px;
  color: #000;
  -webkit-text-decoration: underline #FF7400;
          text-decoration: underline #FF7400;
}
.container .main_section header .header_menu .header_menu_content .header_nav_menu a:hover {
  text-decoration: underline;
}
.container .main_section header .header_menu .header_menu_content .header_nav_contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.container .main_section header .header_menu .header_menu_content .header_nav_contact h2 {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 38px;
  line-height: 24.51px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  text-align: center;
}
.container .main_section header .header_menu .header_menu_content .header_nav_contact p {
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 400;
  line-height: 68.07px;
  color: #000;
  cursor: pointer;
  text-align: center;
}
.container .main_section header .header_menu .header_menu_content button {
  margin: 50px auto;
  width: 100%;
  max-width: 157px;
  background-color: #FF7400;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  padding: 14px 0;
  border: 1px solid #FF7400;
  transition: all 0.4s;
  cursor: pointer;
}
.container .main_section header .header_menu .header_menu_content button:hover {
  background-color: #fff;
  color: #FF7400;
}
.container .main_section .main_section_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  z-index: -1;
}
.container .main_section .main_section_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .main_section .hero_section {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  display: flex;
  padding-top: 203px;
}
.container .main_section .hero_section .hero_section_text {
  width: 100%;
  max-width: 506px;
}
.container .main_section .hero_section .hero_section_text h2 {
  font-family: "Tinos";
  font-size: 50px;
  font-weight: 400;
  line-height: 57.5px;
  color: #D67E34;
  text-align: center;
}
.container .main_section .hero_section .hero_section_text h1 {
  font-family: "Tinos";
  font-size: 80px;
  font-weight: 400;
  line-height: 91.99px;
  color: #D67E34;
  text-align: center;
}
.container .main_section .hero_section .hero_section_text h5 {
  max-width: 307px;
  margin: auto;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  color: #fff;
  position: relative;
  margin-top: 12px;
}
.container .main_section .hero_section .hero_section_text h5::before {
  content: "";
  width: 61px;
  height: 2px;
  background-color: #C4C4C4;
  position: absolute;
  left: 0;
  top: 50%;
}
.container .main_section .hero_section .hero_section_text h5::after {
  content: "";
  width: 61px;
  height: 2px;
  background-color: #C4C4C4;
  position: absolute;
  right: 0;
  top: 50%;
}
.container .main_section .hero_section .hero_section_text button {
  display: block;
  width: 100%;
  max-width: 137px;
  padding: 14px 0;
  background-color: #FF7400;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  font-weight: 700;
  margin: auto;
  margin-top: 21px;
  border: 1px solid #FF7400;
  transition: all 0.4s;
  cursor: pointer;
}
.container .main_section .hero_section .hero_section_text button:hover {
  background-color: #fff;
  color: #FF7400;
}
.container .section_category {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
  margin-top: 124px;
}
.container .section_category .section_category_item {
  background-color: #fff;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  padding: 48px 30px 0;
  width: 100%;
  max-width: 349px;
  height: 328px;
}
.container .section_category .section_category_item .section_category_item_icon {
  width: 87px;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container .section_category .section_category_item h1 {
  font-family: "Tinos";
  font-size: 26px;
  font-weight: 400;
  line-height: 29.9px;
  color: #2C2C2C;
  text-align: center;
}
.container .section_category .section_category_item h1 span {
  color: #BC9060;
}
.container .section_category .section_category_item p {
  margin-top: 20px;
  font-family: "Tinos";
  font-size: 26px;
  font-weight: 400;
  line-height: 29.9px;
  color: #656363;
  text-align: center;
}
.container .section_history {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container .section_history .section_history_text {
  width: 100%;
  max-width: 444px;
  margin-top: 16px;
}
.container .section_history .section_history_text h1 {
  font-family: "Tinos";
  font-size: 54px;
  font-weight: 400;
  line-height: 62.09px;
  color: #000;
  text-align: center;
}
.container .section_history .section_history_text h1 span {
  color: #D67E34;
}
.container .section_history .section_history_text p {
  margin-top: 21px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 400;
  color: #656363;
  text-align: center;
}
.container .section_history .section_history_text .section_history_text_option {
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.container .section_history .section_history_text .section_history_text_option .section_history_text_option_item h3 {
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 54.47px;
  color: #BC9060;
  text-align: center;
}
.container .section_history .section_history_text .section_history_text_option .section_history_text_option_item p {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 27.24px;
  font-weight: 400;
  color: #000;
  margin-top: 2px;
  text-align: center;
}
.container .section_history .section_history_image {
  width: 100%;
  max-width: 539px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .section_history .section_history_image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .section_4 {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 122px;
  padding: 80px 0 104px 0;
  background: url("../image/order.png") no-repeat;
  position: relative;
}
.container .section_4::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.container .section_4 .section_4_inlineBox {
  width: 100%;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.container .section_4 .section_4_inlineBox .section_4_text h1 {
  font-family: "Tinos";
  font-size: 52px;
  line-height: 59.79px;
  font-weight: 400;
  color: #D67E34;
  max-width: 601px;
}
.container .section_4 .section_4_inlineBox .section_4_text p {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 32.68px;
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
}
.container .section_4 .section_4_inlineBox button {
  width: 100%;
  max-width: 157px;
  border: 1px solid #FF7400;
  background-color: #FF7400;
  padding: 14px 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}
.container .section_4 .section_4_inlineBox button:hover {
  background-color: transparent;
  color: #FF7400;
}
.container .section_ourFood {
  width: 100%;
  max-width: 1129px;
  margin: auto;
  margin-top: 132px;
}
.container .section_ourFood h1 {
  font-family: "Tinos";
  font-size: 54px;
  line-height: 62.09px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
.container .section_ourFood h1 span {
  color: #D67E34;
}
.container .section_ourFood .section_ourFood_row {
  margin-top: 139px;
  display: flex;
  gap: 30px;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col {
  width: 100%;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:first-of-type {
  max-width: 445px;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:first-of-type img {
  width: 100%;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type {
  max-width: 654px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item {
  display: flex;
  gap: 30px;
  align-items: center;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_img {
  width: 100%;
  max-width: 160px;
  height: 140px;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_img img {
  width: 100%;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_text h4 {
  font-family: "Tinos";
  font-size: 26px;
  line-height: 29.09px;
  font-weight: 400;
  color: #000;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_text h5 {
  font-family: "Tinos";
  font-size: 26px;
  line-height: 29.09px;
  font-weight: 400;
  color: #000;
  white-space: pre;
}
.container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_text span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 204px;
  border: dashed 1px #000;
}
.container .section_ourMenu {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 100px 0 126px 0;
  background: url("../image/bar.png") no-repeat;
  margin-top: 152px;
}
.container .section_ourMenu h1 {
  font-family: "Tinos";
  font-size: 54px;
  line-height: 62.09px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.container .section_ourMenu .section_ourMenu_row {
  margin: auto;
  margin-top: 138px;
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 1110px;
  overflow-x: auto;
  padding-bottom: 106px;
  scroll-snap-type: x mandatory;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col {
  width: 100%;
  max-width: 350px;
  position: relative;
  background-color: #fff;
  padding: 80px 60px 29px 62px;
  scroll-snap-align: center;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 124px;
  background-color: #D67E34;
  color: #000;
  padding: 7px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 17.7px;
  font-weight: 400;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col .section_ourMenu_row_col_imgBox {
  position: relative;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col .section_ourMenu_row_col_imgBox .section_ourMenu_row_col_imgBox_img {
  width: 223px;
  height: 231px;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col .section_ourMenu_row_col_imgBox .section_ourMenu_row_col_imgBox_img img {
  width: 100%;
  border-radius: 50%;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col .section_ourMenu_row_col_imgBox .section_ourMenu_row_col_imgBox_text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 7px solid #fff;
  background-color: #D67E34;
  font-family: "Cookie";
  font-size: 30px;
  line-height: 33.27px;
  font-weight: 400;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col h1 {
  margin-top: 22px;
  font-family: "Tinos";
  font-size: 26px;
  line-height: 29.9px;
  font-weight: 400;
  color: #000;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col p {
  margin-top: 17px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col button {
  width: 100%;
  max-width: 220px;
  margin: auto;
  margin-top: 20px;
  background-color: #D67E34;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #D67E34;
  padding: 14px 0;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}
.container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col button:hover {
  background-color: #fff;
  color: #D67E34;
}
.container .section_testimonial {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background-color: #E5E5E5;
  padding: 104px 0;
}
.container .section_testimonial p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
  color: #000;
  max-width: 920px;
  text-align: center;
  margin: auto;
  font-style: italic;
}
.container .section_testimonial .section_testimonial_img {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}
.container .section_testimonial .section_testimonial_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container .section_testimonial h3 {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 27.24px;
  font-weight: 600;
  color: #000;
  margin-top: 16px;
  text-align: center;
}
.container .section_testimonial h5 {
  margin-top: 9px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.container .section_testimonial .section_testimonial_dots {
  width: 100%;
  max-width: 21px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.container .section_testimonial .section_testimonial_dots .section_testimonial_dots_item {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #C4C4C4;
}
.container .section_testimonial .section_testimonial_dots .section_testimonial_dots_item:last-of-type {
  width: 7px;
  height: 7px;
  border: 1px solid #FF7400;
  background-color: transparent;
}
.container .section_foodImg {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-top: 101px;
}
.container .section_foodImg h1 {
  text-align: center;
  font-family: "Tinos";
  font-size: 54px;
  line-height: 62.9px;
  font-weight: 400;
  color: #000;
}
.container .section_foodImg h1 span {
  color: #D67E34;
}
.container .section_foodImg .section_foodImg_row {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  margin-top: 60px;
  display: grid;
  gap: 30px;
  grid-template-areas: "item1 item1 item2 item3" "item4 item5 item6 item6";
}
.container .section_foodImg .section_foodImg_row .section_foodImg_row_col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .section_foodImg .section_foodImg_row .section_foodImg_row_col:nth-of-type(1) {
  grid-area: item1;
}
.container .section_foodImg .section_foodImg_row .section_foodImg_row_col:nth-of-type(2) {
  grid-area: item2;
}
.container .section_foodImg .section_foodImg_row .section_foodImg_row_col:nth-of-type(3) {
  grid-area: item3;
}
.container .section_foodImg .section_foodImg_row .section_foodImg_row_col:nth-of-type(4) {
  grid-area: item4;
}
.container .section_foodImg .section_foodImg_row .section_foodImg_row_col:nth-of-type(5) {
  grid-area: item5;
}
.container .section_foodImg .section_foodImg_row .section_foodImg_row_col:nth-of-type(6) {
  grid-area: item6;
}
.container .section_chefs {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-top: 100px;
}
.container .section_chefs h1 {
  text-align: center;
  font-family: "Tinos";
  font-size: 54px;
  line-height: 62.9px;
  font-weight: 400;
  color: #000;
}
.container .section_chefs h1 span {
  color: #D67E34;
}
.container .section_chefs .section_chefs_row {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  margin-top: 107px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container .section_chefs .section_chefs_row .section_chefs_row_col {
  width: 350px;
  height: 462px;
}
.container .section_chefs .section_chefs_row .section_chefs_row_col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .section_footer {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-top: 100px;
  height: 566px;
}
.container .section_footer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1110px) {
  .container .main_section {
    padding: 0 15px;
    padding-top: 50px;
  }
  .container .section_category {
    padding: 0 15px;
  }
  .container .section_history {
    padding: 0 15px;
  }
  .container .section_4 {
    padding: 80px 15px 104px 15px;
  }
  .container .section_ourFood {
    padding: 0 15px;
  }
  .container .section_ourMenu {
    padding: 100px 15px 126px 15px;
  }
  .container .section_testimonial {
    padding: 104px 15px;
  }
  .container .section_foodImg {
    padding: 0 15px;
  }
  .container .section_chefs {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1072px) {
  .container .section_category .section_category_item {
    height: auto;
    min-height: 328px;
    padding: 33.35px 13px 16px;
  }
  .container .section_category .section_category_item p {
    font-size: 22px;
  }
}
@media screen and (max-width: 840px) {
  .container .main_section {
    padding-top: 26px;
  }
  .container .main_section header .header_menu {
    display: flex;
  }
  .container .main_section header nav {
    display: none;
  }
  .container .section_category {
    flex-wrap: wrap;
  }
  .container .section_4 {
    padding: 20px 15px 30px 15px;
  }
  .container .section_4 .section_4_inlineBox {
    flex-direction: column;
    align-items: center;
    gap: 41px;
  }
  .container .section_4 .section_4_inlineBox .section_4_text {
    text-align: center;
  }
  .container .section_ourFood .section_ourFood_row {
    flex-direction: column;
    align-items: center;
  }
  .container .section_ourFood .section_ourFood_row .section_ourFood_row_col:first-of-type {
    max-width: 530px;
  }
}
@media screen and (max-width: 764px) {
  .container .main_section header .header_logo {
    width: 45px;
    height: 31px;
  }
  .container .main_section .hero_section .hero_section_text {
    margin: auto;
  }
  .container .section_category {
    justify-content: center;
  }
  .container .section_category .section_category_item {
    max-width: 500px;
    min-height: 276px;
  }
  .container .section_foodImg h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .container .section_foodImg .section_foodImg_row {
    grid-template-areas: "item1 item1" "item2 item3" "item6 item6" "item4 item5";
  }
  .container .section_chefs {
    margin-top: 71px;
  }
  .container .section_chefs h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .container .section_chefs .section_chefs_row {
    margin-top: 80px;
  }
  .container .section_chefs .section_chefs_row .section_chefs_row_col {
    width: 100%;
    max-width: 480px;
    height: 450px;
  }
}
@media screen and (max-width: 726px) {
  .container .section_history {
    flex-direction: column;
    align-items: center;
  }
  .container .section_history .section_history_image {
    margin-top: 45px;
  }
}
@media screen and (max-width: 636px) {
  .container .section_4 {
    margin-top: 50px;
  }
  .container .section_4 .section_4_inlineBox .section_4_text h1 {
    font-size: 30px;
    line-height: 34.5px;
  }
  .container .section_4 .section_4_inlineBox .section_4_text p {
    font-size: 24px;
  }
  .container .section_4 .section_4_inlineBox button {
    max-width: 139px;
    padding: 12px 0;
  }
}
@media screen and (max-width: 515px) {
  .container .main_section .hero_section .hero_section_text h2 {
    font-size: 30px;
    line-height: 34.5px;
  }
  .container .main_section .hero_section .hero_section_text h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .container .main_section .hero_section .hero_section_text h5 {
    font-size: 15px;
    line-height: 20.43px;
  }
  .container .section_history {
    margin-top: 75px;
  }
}
@media screen and (max-width: 450px) {
  .container .section_ourFood {
    margin-top: 63px;
  }
  .container .section_ourFood .section_ourFood_row {
    margin-top: 72px;
  }
  .container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item {
    gap: 8px;
  }
  .container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_text {
    flex-direction: column;
    align-items: center;
  }
  .container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_text span {
    display: none;
  }
  .container .section_ourFood .section_ourFood_row .section_ourFood_row_col:last-of-type .section_ourFood_row_col_item .section_ourFood_row_col_item_text h4 {
    font-size: 22px;
    line-height: 25.3px;
    text-align: center;
  }
  .container .section_foodImg .section_foodImg_row {
    gap: 20px;
    grid-template-areas: "item1" "item2" "item3" "item6" "item4" "item5";
  }
  .container .section_footer {
    margin-top: 21px;
  }
}
@media screen and (max-width: 380px) {
  .container .section_ourMenu {
    padding: 62px 15px 0 15px;
  }
  .container .section_ourMenu .section_ourMenu_row {
    margin-top: 98px;
  }
  .container .section_ourMenu .section_ourMenu_row .section_ourMenu_row_col {
    max-width: 290px;
    padding: 80px 35px 29px 35px;
  }
  .container .section_testimonial {
    padding: 25px 15px;
  }
}/*# sourceMappingURL=style.css.map */